body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  background-image: url('gk.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  background-size:cover;
}

.quiz-container {
  background-color: #c2bdb2;
  margin-top:200px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  height:200px;
  width:400px;
  border-color:pink;
}

h2 {
  margin-bottom: 20px;
}

.options button {
  margin: 5px;
  padding: 8px 15px;
  font-size: 16px;
  cursor: pointer;
}

#result {
  font-weight: bold;
}

